# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

if BOARD_XIAO_NRF54LM20A_NRF54LM20A_CPUAPP

config HAS_BT_CTLR
	default BT

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

endif # BOARD_XIAO_NRF54LM20A_NRF54LM20A_CPUAPP
